<nav class="nav">
	<a href="/" class="nav-link">Home</a>
	<a href="/students" class="nav-link">Students</a>
	<a href="/students/create" class="nav-link">Add new student</a>
	<a href="/users/signup" class="nav-link">Registration</a>
	<a href="/users/login" class="nav-link">Login</a>
	<a href="/users/current" class="nav-link">Private route</a>
	<a href="/error" class="nav-link">Error</a>
</nav>