<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
    <body>
        <%- include("../partials/navigation") %>

        <form action="/students/create" method="POST">
            
            <div>
                <input name="name" />
            </div>
            <div>
                <input name="age" type="number" />
            </div>
            <div>
                <select name="gender">
                    <option value="male">male</option>
                    <option value="female">female</option>
                </select>
            </div>

            <button type="submit">Add Student</button>
        </form>
    </body>
</html>