<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>

  <body>
    <%- include("../partials/navigation") %>
    
    <div>
      <p>This is a private route. <%= username %> has logged in successfully.
      </p>
    </div>
  </body>

</html>