<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>

  <body>
    <%- include("../partials/navigation") %>

      <form method="POST" class="form">
        <div>
          <label>Username:</label><br />
          <input name="username" class="text-input" required />
        </div>
        <br />
        <div>
          <label>Password:</label><br />
          <input name="password" class="text-input" required />
        </div>
        <br />
        <button type="submit">Sign up</button>
      </form>
  </body>

</html>